{{#if featured_vendors}}
<div class="col-md-9">
    <div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Featured Models</h2>
    </div>
    {{#each featured_vendors}}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="/featured_model/{{user_id}}">
                <img   class="img-responsive img-hover" src="uploads/{{obj_profile.2d_obj}}" alt="">
            </a>
            <div class="caption">
                <span>&nbsp;{{obj_profile.obj_name}}</span>
            </div>
        </div>
    </div>
    {{/each}}
</div>
</div>
{{/if}}
