
#logo {
    float: left;
    margin-top:-5px;
    z-index:2000;
    position:absolute;



}
.img_logo{
    height:100px;
    width:100px;
    display:inline;
    position:absolute;
}

.img-beta{
    width: 30%;
    display: inline;
    height:50px;
}

.img-size{
    height: 60px;
    width: 60px;
    display: block;
    padding-left:15%;

}
