
#logo {
    float: left;
    margin-top:-5px;
}
.img_logo{
    height:100px;
    width:100px;
    display:inline;
    position:absolute;
}

.img-beta{
    width: 30%;
    display: inline;
    height:50px;
}

.img-size{
    height: 100px;
    width: 100px;
    display: block;
}
